.RegisterForm1{
    box-sizing: border-box;
    box-shadow: 0 15px 20px #ccc;
    width: 50%;
    margin-left: 25%;
    margin-top: 20vh;
    background-color: whitesmoke;


}
.Headline{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.Buttonss{
    margin-left: 5px;
    margin-right: 5%;
}