/*::-webkit-input-placeholder { text-align:right; }*/


.coverImage img{
    width: 90%;
    height: 40vh;
    position: relative;
    margin-left:5% ;
    margin-top: 0;
    border-radius:10px;

    /*display: flex;*/
    /*justify-content: center;*/
}
/*.coverImage:hover img{*/
/*    opacity: 0.9;*/
/*}*/
.fullName{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    top:50%;
    text-align: center;
    z-index: 999;
}
.profilePic{
    /*border: black solid;*/
    width: fit-content;
    justify-content: center;
    /*position: relative;*/
    /*font-size: 30px;*/
    /*font-weight: bold;*/
    /*padding-left: 10%;*/
    /*position: relative;*/
    /*position: absolute;*/
    /*justify-content: center;*/
    /*width: 20%;*/
    /*top:25vh;*/
    /*width: 100%;*/
    margin: auto;
}

label{
    /*background-color: grey;*/
    /*padding-top:4px ;*/
    /*padding-left:6px ;*/
    box-sizing: border-box;
    box-shadow: 0 1px 6px #ccc;
    padding-left: 5px;
    padding-top: 4px;
    border-radius: 5px;
    height: 170%;
    background-color: lightgray;
    cursor: pointer;
    border: grey solid;

}
label:hover{

    background-color: #9b9c85;
    border-radius: 5px;
}
input[id='coverPic']{
    display: none;
}
input[id='profilePic']{
    display: none;
}
/*label{*/
/*    height: 20px;*/
/*    width: 20px;*/
/*}*/