/*::-webkit-input-placeholder { text-align:right; }*/


.coverImage img{
    width: 90%;
    height: 40vh;
    position: relative;
    margin-left:5% ;
    margin-top: 0;
    border-radius:10px;
    /*display: flex;*/
    /*justify-content: center;*/
}
/*.coverImage:hover img{*/
/*    opacity: 0.9;*/
/*}*/
.fullName{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    /*position: absolute;*/
    top:50%;
    text-align: center;
}
.content{
    /*font-size: 30px;*/
    /*font-weight: bold;*/
    /*padding-left: 10%;*/
    position: relative;
    /*position: absolute;*/
    /*justify-content: center;*/
    /*width: 20%;*/
    top:25vh;
    width: 100%;
    margin: auto;
}